# dependencies
node_modules/
.pnp.*/

# build outputs
dist/
build/
.esbuild/

# logs & caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.cache/
.parcel-cache/
.vite/

# editor
.vscode/
.DS_Store
Thumbs.db

# env
.env
.env.local
